@import '../index.scss';
.badge {
  :global {
    .#{$ant-prefix}-badge-status-dot {
      width: 12px;
      height: 12px;
    }

    .#{$ant-prefix}-badge-status-default {
      background: #cccccc;
    }

    .#{$ant-prefix}-badge-status-success {
      background: $success-color;
    }
    .#{$ant-prefix}-badge-status-error {
      background: $error-color;
    }
  }
}
