.form {
    :global(.#{$ant-prefix}-btn) {
        border-radius: 4px;
    }

    :global(.#{$ant-prefix}-input) {
        border-radius: 6px;
    }

    :global(.#{$ant-prefix}-btn-primary) {
        background: #52CCA3;
        border-color: #52CCA3
    }

    :global(.#{$ant-prefix}-btn-default) {
        background: #F5F5F5;
        border-color: #F5F5F5;
        font-weight: 400;
        color: #646464;
    }
}

