* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.home-page {
  width: 100%;
  height: 100%;
  background-color: seashell;
  overflow: hidden;

  .login-form {
    width: 550px;
    height: 550px;
    margin: 100px auto;

    h1 {
      text-align: center;
    }
  }
}

.common-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .search {
    height: 40px;
    flex-grow: 1;
  }

  .button {
    padding: 10px 0;
  }

  .table {
    height: 200px;
    flex-grow: 1;
    overflow: hidden scroll;
  }
}

.ant-tabs-bar {
  height: 40px;
}

.ant-tabs .ant-tabs-top-content.ant-tabs-content-animated {
  height: 200px;
  flex-grow: 1;
}

.the-slider {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background: white;

  .tabs {
    height: 100%;
    display: flex;
    flex-direction: column;

    .common-tabs {
      display: flex;
      flex-direction: column;
      height: 100%;

      .ant-tabs {
        height: 100%;


      }

      .base-info {
        height: 200px;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden auto;
      }

      .button {
        height: 60px;
        text-align: center;
      }


    }
  }
}



.admin-page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .admin-header {
    height: 55px;
    line-height: 55px;
    padding: 0 10px;
    background-color: seashell;
  }

  .admin-content {
    height: 300px;
    flex-grow: 1;

    .admin-nav {
      height: 100%;
    }

    .admin-page {
      height: 100%;
    }
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100px;
}

.text-ellipsis-3line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}

.notes-month section {
  font-size: 28px;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}