@import '~antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.common-page {
  height: calc(100vh - 160px);

  .home-page {
    width: 100%;
    height: 100%;
    background-color: seashell;
    overflow: hidden;

    .login-form {
      width: 550px;
      height: 550px;
      margin: 100px auto;

      h1 {
        text-align: center;
      }
    }
  }

  .common-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .common-search {
      height: 40px;
      flex-grow: 1;
    }

    .common-button {
      padding: 10px 0;
    }

    .common-table {
      height: 200px;
      flex-grow: 1;

      .ant-spin-nested-loading {
        height: 100%;

        .ant-spin-container {
          display: flex;
          flex-direction: column;
          height: 100%;

          &>.ant-table {
            height: 40px;
            flex-grow: 1;
            overflow: auto;

          }

          &>.ant-pagination {
            flex-basis: 32px;
            text-align: right;
          }
        }
      }
    }
  }
}



.ant-tabs-bar {
  height: 40px;
}



.global-slider {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  background: white;
  z-index: 1000;
  box-shadow: 1px 1px 8px black;

  .slider-ico {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    z-index: 1000;
    text-align: center;
    cursor: pointer
  }

  .ant-collapse>.ant-collapse-item>.ant-collapse-header {
    width: 200px;
  }

  .ant-form-item {
    display: flex !important;
  }

  .edit {}

  .create {}

  .slider-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ant-tabs-extra-content {
      display: none;
    }

    .ant-tabs-top-content {
      height: 200px !important;
      flex-grow: 1;
    }

    .slider-tabpane {
      padding-bottom: 50px;

      .ant-tabs-top-content {
        height: 100% !important;
        flex-grow: inherit;
      }

      .common-tabs {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-tabs-top-content {
          height: 100%;
        }

        .common-tabpane {
          height: 75vh;
          display: flex;
          flex-direction: column;
          overflow: hidden auto;

          .base-info {
            height: 200px;
            flex-grow: 1;
            overflow: hidden auto;
          }

          .button {
            height: 50px;
            text-align: center;
          }
        }
      }

      .tabs-button {
        background-color: white;
        border-top: 1px solid gray;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }
    }
  }

  .tabs {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ant-collapse>.ant-collapse-item {
      border: none;
    }

    .ant-collapse-item:last-child>.ant-collapse-content {
      border: none;
    }

    .ant-collapse-content {
      border: none;
    }

    .ant-collapse {
      border: none;
    }

    .common-tabs {
      display: flex;
      flex-direction: column;
      height: 100%;

      .ant-tabs {
        height: 100%;


      }

      .base-info {
        height: 200px;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden auto;
      }

      .button {
        height: 60px;
        text-align: center;
      }
    }
  }
}



.admin-page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .admin-header {
    height: 55px;
    line-height: 55px;
    padding: 0 10px;
    background-color: seashell;
  }

  .admin-content {
    height: 300px;
    flex-grow: 1;

    .admin-nav {
      height: 100%;
    }

    .admin-page {
      height: 100%;
    }
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100px;
}

.text-ellipsis-3line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}

.notes-month section {
  font-size: 28px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #b8b8b8;
  -webkit-border-radius: 6px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5
}

::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #878987;
  -webkit-border-radius: 6px
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}